.fpi-el-rolling-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fpi-el-rolling {
    width: fit-content;
    height: auto;
}

.fpi-el-rolling-flex {
    display: flex;
}

.fpi-el-rolling > div {
    flex: none;
}
